
#Para Docker Compose
POSTGRES_DB=base_de_datos_para_tu_aplicacion
POSTGRES_USER=usuario_para_tu_base_de_datos
POSTGRES_PASSWORD=contraseña_para_tu_base_de_datos


#Para Spring Boot
SPRING_DATASOURCE_URL=url_de_conexion_a_tu_base_de_datos_localhost
SPRING_DATASOURCE_USERNAME=tu_usuario
SPRING_DATASOURCE_PASSWORD=tu_password

JWT_SECRET=una_clave_secreta_de_al_menos_32_caracteres
JWT_EXPIRATION=tiempo_de_expiracion_en_milisegundos